.frame-container {
  position: relative;
  overflow: hidden;
  width: 300px;
  background-color: #003049;
  border: 10px solid #003049;
  padding: 10px;
  color: white;
  text-align: center;
}

.frame {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photo-slot {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.photo-slot img {
  width: 100%;
  object-fit: cover;
}

.footer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.footer img{
  width: 50px;
  height: 50px;
}

.footer section h2{
  font-family: 'Readex Pro', sans-serif;
  font-size: 17px;
  margin-bottom: 0;
}

.footer section p{
  margin-top: 0;
}

.particles-static {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  opacity: 0.1;
  pointer-events: none;
  z-index: 0;
}