/* Color Palette */
:root {
  --dark-blue: #1a1a3e;
  --light-gray: #C6C6C6;
  --light-blue: #00A7E1;
  --white: #fff;
  --orange: #ec6a40;
  --orange-mid: #f58e64;
  --orange-pastel: #feb994;
}

body {
  font-family: 'Readex Pro', sans-serif;
  color: var(--dark-blue);
  background-color: #FFF5F0;
}